<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Variables.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC7FE0C61C5ACB2C00A9A581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC7FE0DA1C5ACB2C00A9A581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC7FE0E51C5ACB2C00A9A581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
